@(message: String, items:Seq[com.hascode.Item])

@main("Play Blog Application") {
    <h1>@message</h1>
    <ul>
    	@items.map { item =>
    		@listitem(item)
    	}
    </ul>
    <br/>
    <a href="/json">JSON Example</a>
}
